<% content_for(:title, "Credits") %>

<div class="container-fluid">

<% if @seller.credits.any? %>
    <h4>Credits in Stock:</h4>

    <hr>

    <ul>
      <% @seller.credits.each do |credit| %>
        <ol>
          <p>Credit:<%= credit.credit_amount %> <p>Selling at:<%= credit.price %></p>

          <p class="w3-xlarge">
          <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-round w3-red w3-opacity w3-hover-opacity-off" style="padding:8px 60px">Purchase</button></p><hr>
        </ol>
      <% end %>
    </ul>

  <% else %>
    <p><%= @seller.email %> has no credits yet!</p>
  <% end %>

<%= link_to "Stock", new_seller_credit_path(@seller),id: "new_link",class: 'btn btn-default' %>
</div>

<hr>

<!-- RSVP modal -->
<div id="id01" class="w3-modal">
  <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="padding:32px;max-width:600px">
    <div class="w3-container w3-white w3-center">
      <p class="w3-wide"><%= @seller.email %></p>
      <p>Email to purchase</p>
      <div class="w3-row">
        <div class="w3-half">
          <a href="#" onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-button w3-block w3-blue">Cancel Transaction</a>
        </div>
      </div>
    </div>
  </div>
</div>
