<% content_for(:title, "Credits") %>

<div class="container-fluid">

<% if @seller.credits.any? %>
    <h4>Credits in Stock:</h4>

    <hr>

    <ul>
      <% @seller.credits.each do |credit| %>
        <ol>
          <p>Credit:<%= credit.credit_amount %> <p>Selling at:<%= credit.price %></p>
          <%= link_to "Purchase", seller_credit_path(@seller, credit),
                                   :data => {:confirm => "Are you sure?"}, class: 'btn btn-primary' %></p><hr>
        </ol>
      <% end %>
    </ul>

  <% else %>
    <p><%= @seller.email %> has no credits yet!</p>
  <% end %>

<%= link_to "Stock", new_seller_credit_path(@seller),id: "new_link",class: 'btn btn-default' %>
</div>

<hr>
